body {
  background-color: #ffffff;
  //   width: 1120px;
  font-family: Merriweather;

  font-size: 16px;
  font: #404040;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-family: Novovento Sans Web;
  text-transform: uppercase;
}

// .home-hero {
//   //   display: flex;
//   //   flex-wrap: nowrap;
//   //   align-items: center;
//   //   text-decoration: none;
//   background-image: linear-gradient(
//       180deg,
//       rgba(0, 0, 0, 0.4) 0,
//       rgba(0, 0, 0, 0.4)
//     ),
//     url('./images/home-hero.jpg');
//   background-size: cover, cover;
//   //   height: 100vh;
// }

// .main-menu img {
//   width: 50px;
// }

.main-menu {
  display: flex;
  //   flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;

  img {
    width: 50px;
  }

  li {
    display: inline-block;
  }
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
