body {
  // width: 1120px;
  // margin-left: auto;
  // margin-right: auto;
  // margin: 0 auto;s
}

.main-menu2 {
  padding-bottom: 3rem;
}

.shop-header {
  // border-bottom: 1px dashed #c8c8c8;
  margin-bottom: 3rem;
  text-align: center;
  // width: 1120px;
  h2 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-family: Novecento Sans Web, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 25px;
  }

  ul {
    display: flex;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
  }
  li {
    margin: 0 1.5rem;
  }
  a {
    color: #248a83;
    text-decoration: none;
  }
}

hr {
  border: none;
  border-top: 1.7px dotted lightgray;
  width: 86%;
  padding-bottom: 50px;
}

.product-page,
.taxonomy-product-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 5.5rem;
  padding: 0 100px;
}
.shop-grid-item,
.taxonomy-shop-grid-item {
  border: 1px solid #e1e1e1;
}

.shop-pic,
.taxonomy-shop-pic {
  height: 250px;
  overflow: hidden;
  position: relative;

  img {
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -52%);
    width: auto;
    border-bottom: 5px solid #e1e1e1;
  }

  a {
    color: #248a83;
  }
}

.product,
.taxonomy-product {
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
  background-color: #fff;

  h2 {
    background: #fff;
    display: inline;
    // font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    font-family: Merriweather Web, serif;
    letter-spacing: 0;
    line-height: 1.75;
    padding-right: 0.25rem;
    text-transform: none;
  }

  span {
    float: right;
    padding-top: 8px;
    background: #fff;
  }
}

.single-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 100px;
  margin-bottom: 150px;
}

.single-products img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.products-info {
  display: flex;
  flex-direction: column;
}
.single-products {
  h2 {
    color: #d99054;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
  }

  span {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    line-height: 30px;
    font-family: Merriweather Web, serif;
    font-size: 20px;
    color: #404040;
  }

  i {
    border: 0.5px solid black;
    padding: 10px 20px;
  }

  .shop-icons {
    margin-top: 25px;
  }
}

.product-type-title {
  text-transform: uppercase;
  font-size: 38px;
}

.shop-header p {
  line-height: 30px;
  font-family: Merriweather Web, serif;
  font-size: 20px;
  color: #404040;
}
